body {
  text-align: center;
}

#schedules {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#chart {
  width: 1000px;
  height: 900px;
}

.navigation {
  width: 100px;
}
